@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-black: #0F0E0E;
  --color-gray: #373737;
  --color-whitegray: #C2C2C2;
  --color-background: #F4F2F8;
}

@layer base {
  body {
    @apply bg-background text-black;
  }
}